
@{
    ViewBag.Title = "AdminIsLogged";
}

<div id="myModalBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                Delete this place?
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button id="cancelAction" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="confirmAction" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<h2>Moderate</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" id="moderateTable">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/scripts/moderate.js")
}

@*<th>
    Delete
</th>
<th>
    Approve
</th>*@
