
@{
    ViewBag.Title = "AdminIsLogged";
}

@section css{
    @Styles.Render("~/Content/dataTables")
}

<h2>Moderate</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" id="moderateTable">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Delete
                    </th>
                    <th>
                        Approve
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/scripts/moderate.js")
    @Scripts.Render("~/bundles/dataTables")
}
