@{
    ViewBag.Title = "Home Page";
}

@section css{
    @Styles.Render("~/Content/select2")
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<div class="row">
    <div class="col-md-9">
        <h2>Google Map</h2>
        <div id="canvas" class="map"></div>
    </div>
    <div class="col-md-3">
        <br />
        <br />

        <h2>Show places by tags</h2>
        <table>
            <tr>
                <td>
                    <div style="width: 100%">
                        <select style="width:90%" class="js-example-basic-multiple" name="states[]" multiple="multiple" id="searchSelectTags">
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="searchPlacesByTags" class="save-search-place-btn btn btn-primary">Search</button>
                </td>
            </tr>
        </table>
        <h2>Search place by adress</h2>
        <table>
            <tr>
                <td>
                    <input type="text" id="searchPlaceAdress" />
                </td>
            </tr>
            <tr>
                <td>
                    <button id="searchPlaceByAdress" class="save-search-place-btn btn btn-primary">Search</button>
                </td>
            </tr>
        </table>

        <div class="alert alert-success" role="alert" id="savePlaceInfo" style="display: none; margin-top: 15px;"></div>
    </div>
</div>


<div class="modal fade" id="savePlaceModalWin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Place info</h2>
            </div>
            <div class="modal-body">
                <form id="savePlaceForm" action="javascript:void(null);">
                    <table cellpadding="2">
                        <tr><td><input type="hidden" id="savePlaceId" /></td><td></td></tr>
                        <tr><td><label>Place name: </label></td><td><input type="text" id="savePlaceName" placeholder="Enter name" /></td></tr>
                        <tr><td><label>Tags: </label></td><td><select id="saveEditSelectTags" style="width:90%" class="js-example-basic-multiple" name="states[]" multiple="multiple"></select></td></tr>
                        <tr><td><label>Latitude: </label></td><td><input type="number" step="any" id="savePlaceLatitude" /></td></tr>
                        <tr><td><label>Longitude: </label></td><td><input type="number" step="any" id="savePlaceLongitude" /></td></tr>
                    </table>
                    <button id="savePlace" type="submit" class="save-search-place-btn btn btn-primary">Save place</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Content/scripts/mapjsscript.js")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyDIwQLQ2XIYDNt6OQz9ACI89t5UaRf0d9c&callback=initMap");
}