<mat-grid-list cols="12" rowHeight="190px" class="main-grid">
  <mat-grid-tile [rowspan]="4" [colspan]="9">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapDblClick)="mapDblClicked($event)"
      [disableDoubleClickZoom]="true">

      <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.GeoLat" [longitude]="m.GeoLong">
        <agm-info-window>
          <div class="object-info">
            <h2>Place: {{m.ObjectName}}</h2>
            <div>
              <h4>Tags: {{m.Tags}}</h4>
            </div>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-grid-tile>
  <mat-grid-tile class="search-form" [rowspan]="1" [colspan]="3">
    <form class="example-form">
      <h2>Show places by tags</h2>
      <div class="mat-app-background basic-container">
        <app-multi-select></app-multi-select>
      </div>
    </form>
  </mat-grid-tile>
  <mat-grid-tile class="search-form" [rowspan]="1" [colspan]="3">
    <form class="example-form">
      <h2>Search place by adress</h2>
      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="address" name="address" matInput placeholder="Enter the adress"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getLatLan()">Search</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>